
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node js API</title>
    <meta charset=utf-8>
    <link rel=stylesheet type=text/css href="css/static.css"/>

</head>
<body>
    <div class=box>
      <h2>Apigee RampUp Activity for Node.js</h2>
        <blockquote>
          A simple API that will Identify Subscriber by brand.
        </blockquote>
      <h2>Usage</h2>
      <ul>
          <li>Get Subscriber by brand</li>
          <pre><a>/{msisdn}/brand/</a></pre>
    </div>
</body>
</html>

